body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #151b29;
}

button {
  background: none;
  color: #ffa260;
  border: 2px solid;

  /* 여백: 상하 1em, 좌우 2em */
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
  border-color: #f1ff5c;
  color: white;

  /* 상자 그림자와 글씨 그림자 효과를 주는 기능 
    x offset, y offset, 흐림 범위, 번짐 범위 */
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);

  /* 마우스를 대면 손모양 포인터  */
  cursor: pointer;
}